
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans Condensed", "sans-serif";
    background-color: #F7EEF0;
}

.contenedor{
    padding: 80px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

/***********/

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color: black;
    font-weight: 200;
    margin-right: 10px;
    text-decoration: none;
}
nav > a:hover{
    text-decoration: line-through;
}



/******************/

.titulo{
        margin-bottom: 60px;
        margin-top: 60px;
        color: #5D3B43 ;
        font-size: 35px;
        text-align: center;
}

.textomascota{
    flex-direction: column;
    display: flex;
    height: 250px;
    width: 100%;
    padding: 20px 20px 20px 20px;
    margin: auto;
}

.textomascota p{
    padding: 5px 0px 30px 5px;
    text-align: justify;
}


/**************************************************/

footer{
    padding: 200px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.container-footer{
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    padding-top: 50px;
    border-bottom: 1px solid saddlebrown;
    border-top: 1px solid saddlebrown;
}

.text-foo{
    text-align: center;
}

.finaltext{
    text-align: center;
    color: grey;
    padding-top: 10px;
}